#car1{display: flex;
background-color:black;}
#car2{display: flex;
background-color:rgb(67, 67, 67);}
#car3{display: flex;
background-color:rgb(151, 151, 151);}
#car4{display: flex;
background-color:rgb(192, 192, 192);}
#car5{display: flex;
background-color:antiquewhite ;}